@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

.link-contianer li:hover {
    color: #1FA887;
}

.list_content ol {
    margin-top: 20px;
}

.list_content ol span {
    margin-top: 10px;
}


/* START RESPONSIVE */
@media (max-width:770px) {
    .hero_section {
        padding: 80px 20px;
    }

    .link-container {
        width: 0;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        background: #0D1413;
        padding-top: 20px;
        text-align: right;
        margin-top: 0px;
        transition: width .3s ease-in;
    }

    .link-container.nav_opened {
        display: block;
        width: 220px;
    }

    .heading {
        font-size: 52px;
    }

    .link-container li {
        margin-bottom: 25px;
        margin-right: 25px;
    }

    .close {
        display: block;
        position: fixed;
        font-size: 25px;
        font-weight: bolder;
        top: 14px;
        color: white;
    }

    .pricing_card {
        align-items: center;
    }

    .hero_intro_text {
        font-size: 1.5rem;
        line-height: 22px;
    }
}

@media (max-width:550px) {

    .nav_section {
        padding-left: 0rem;
        padding-right: 1rem;
    }

    #team {
        padding: 20px;
    }

   

    .hero_section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero_intro {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero_intro_text {
        font-size: 1.3rem;
        line-height: 20px;
    }

    #services {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.2rem;
        line-height: 1.25rem;
    }

    .about_section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .about_card {
        padding-left: 16px;
        padding-right: 16px;
    }

    #testimonials {
        padding-left: 16px;
        padding-right: 16px;
    }

    #testimonials h2 {
        font-size: 1.3rem;
    }

    #price {
        padding-left: 16px;
        padding-right: 16px;
    }

    #price h1 {
        text-align: left;
        font-size: 1.3rem;
        line-height: 1.6rem;
        padding-left: 16px;
        padding-right: 16px;
    }

    .priceing_card {
        padding-left: 0;
        padding-right: 0;
    }

    .amount {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    .price_card{
        width: 100%;
    }
}